<%-include('inc/header.ejs')%>
    <div class="container">
        <div class="row">
            <h1><%=title%></h1>
            <hr>
            <h2><%=subtitle%></h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Idade</th>
                  <th colspan="2" class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach((user)=> { %>
                
                <tr>
                  <th scope="row"><%=index++%></th>
                  <td><%=user.name%></td>
                  <td><%=user.username%></td>
                  <td><%=user.email%></td>
                  <td><%=user.idade%></td>
                  <td>
                    <a href="/editar/<%=user._id%>" type="button" class="btn btn-success">Editar</a>
                  </td>
                  <td>
                    <a  href="/deletar/<%=user._id%>" type="button" class="btn btn-danger">Deletar</a>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
        </div>
      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
        crossorigin="anonymous">
    </script>
</body>
</html>